<div style="width:90%; font-family: Arial, sans-serif; font-size: 0.9rem; padding: 20px; margin: 0 auto">
    <!-- Company Header Section -->
    <div style="display: flex; align-items: center;">
        <div style="left: 20px;">
            <img src="/images/logo.jpg" alt="Logo" style="width: 100px;"/>

        </div>
        <div style="margin-left:25%;text-align: center">
            <h3>Synergy Tech Soft</h3>
            <p>Pulchowk, Lalitpur</p>
            <p>Tel: 9000000000</p>
            <p>Pan No: 999999999</p>
            <p>Branch: Head Office (001)</p>
            <h2> Estimated Invoice </h2>
        </div>
    </div>


</div>
