<div style="width:90%; font-family: Arial, sans-serif; font-size: 0.9rem; padding: 20px; margin: 0 auto">
    <!-- Company Header Section -->
    <div style="display: flex; align-items: center;">
        <div style="left: 20px;">
            <img src="/images/logo.jpg" alt="Logo" style="width: 120px; height: 120px"/>

        </div>
        <div style="margin-left:25%;text-align: center">
            <h3>Synergy Tech Soft</h3>
            <p>Pulchowk, Lalitpur</p>
            <p>Tel: 9000000000</p>
            <p>Pan No: 999999999</p>
            <p>Branch: {{branch.name}} ({{branch.code}})</p>
            <h2 style="margin-top: 1rem"> Estimated Invoice </h2>
        </div>
    </div>

    <!-- Customer and Invoice date details -->
    <div style="display: flex; justify-content: space-between; margin-top: 1rem;">
        <div style="display: grid; grid-template-columns: 85px auto; row-gap: 0.25rem;">
            <p><strong>Customer:</strong></p>
            <p>{{ customer.name }}</p>
            <p><strong>Phone No.:</strong></p>
            <p>{{ customer.phoneNo }}</p>
            <p><strong>Address:</strong></p>
            <p>{{ customer.address }}</p>
            <p><strong>Pan No.:</strong></p>
            <p>{{ customer.panNo }}</p>

        </div>
        <div style="display: grid; grid-template-columns: 135px auto; text-align: left; row-gap: 0.25rem; align-self: flex-end;">
            <p><strong>Transaction Date:</strong></p>
            <p>{{ createdAt }}</p>
            <p><strong>Payment Mode:</strong></p>
            <p>{{ paymentMode }}</p>
            <p><strong>Invoice No:</strong></p>
            <p>{{ actualTransactionNo }}</p>
            <p><strong>Invoice Date:</strong></p>
            <p>{{ invoiceDate }}</p>
        </div>
    </div>

    <!-- Product details -->
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px; text-align: left;">
        <thead>
        <tr>
            <th style="border: 1px solid #000; padding-left: 10px;">S.N</th>
            <th style="border: 1px solid #000; padding-left: 10px;">HS Code</th>
            <th style="border: 1px solid #000; padding-left: 10px;">Item</th>
            <th style="border: 1px solid #000; padding-left: 10px;">Qty</th>
            <th style="border: 1px solid #000; padding-left: 10px;">Rate</th>
            <th style="border: 1px solid #000; padding-left: 10px;">Subtotal</th>
        </tr>
        </thead>
        <tbody>
        {{#salesInvoiceDetails}}
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ serialNo }}</td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ product.code }}</td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ product.name }}</td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ quantity }}</td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ unitRate }}</td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ amountDetails.subTotal }}</td>
        </tr>
        {{/salesInvoiceDetails}}

        <!-- Two empty rows -->
        <tr>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
            <td style="border: 1px solid #000; height: 18px;"></td>
        </tr>

        <!-- Bill Amount details -->
        <tr>
            <td rowspan="8" colspan="3" style="border: 1px solid #000; vertical-align: top; padding-left: 10px;">
                In Words: {{ amountInWords }}
            </td>
            <td style="border: 1px solid #000; padding-left: 10px;">SubTotal</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ amountDetails.subTotal }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">Discount</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ amountDetails.discountAmount }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">Scheme Discount</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ schemeDiscount }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">Taxable</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ taxable }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">Non-Taxable</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ nonTaxable }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">VAT</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{ amountDetails.vatAmount }}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">Round Off</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; padding-left: 10px;">{{roundOff}}</td>
        </tr>
        <tr>
            <td style="border: 1px solid #000; padding-left: 10px;">Total</td>
            <td style="border: 1px solid #000;"></td>
            <td style="border: 1px solid #000; font-weight: bold; padding-left: 10px;">{{ amountDetails.totalAmount }}</td>
        </tr>
        </tbody>
    </table>


    <div style="margin-top: 30px;">
        <p><strong>Remarks:</strong> {{ remarks }}</p>
    </div>

    <!-- Name And Signatures -->
    <div style="display: flex; justify-content: space-between; margin-top: 40px;">
        <div style="text-align: center;">
            <p>{{ createdBy.firstName }}</p>
            <p>..........................</p>
            <p>Entered By</p>
        </div>
        <div style="text-align: center;">
            <p>{{ createdBy.firstName }}</p>
            <p>..........................</p>
            <p>Printed By</p>
        </div>
        <div style="text-align: center;">
            <p>.</p>
            <p>..........................</p>
            <p>Authorized Signature</p>
        </div>
    </div>


    <!-- Terms & Conditions -->
    <div style="margin-top: 20px;">
        <p><strong>Terms & Conditions:</strong></p>
        <p> 1. Term one</p>
        <p> 2. Term two</p>
        <p> 3. Term three</p>
        <p> 4. Term four</p>

    </div>

</div>
